In [1]:
from google.colab import files
files.upload( )

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"safiraoktarini","key":"637b515f383f28d4361092db3ed8c54b"}'}

In [2]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

#mengganti permission
!chmod 600 ~/.kaggle/kaggle.json

In [3]:
!kaggle datasets download -d kedokedokedo/vgsales

Downloading vgsales.zip to /content
  0% 0.00/356k [00:00<?, ?B/s]
100% 356k/356k [00:00<00:00, 71.2MB/s]

In [4]:
from zipfile import ZipFile
file_name = "vgsales.zip"

with ZipFile(file_name,'r') as zip:
  zip.extractall()
  print('Done')

Done

In [5]:
import pandas as pd
df = pd.read_csv('vgsales.csv')
df.head( )

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,259,Asteroids,2600,1980,Shooter,Atari,4.00,0.26,0.0,0.05,4.31
1,545,Missile Command,2600,1980,Shooter,Atari,2.56,0.17,0.0,0.03,2.76
2,1768,Kaboom!,2600,1980,Misc,Activision,1.07,0.07,0.0,0.01,1.15
3,1971,Defender,2600,1980,Misc,Atari,0.99,0.05,0.0,0.01,1.05
4,2671,Boxing,2600,1980,Fighting,Activision,0.72,0.04,0.0,0.01,0.77

ketterangan feature
name : nama game;
platform : konsol game dijalankan;
year : tahun game dirilis;
genre : genre game;
publisher : penerbit game;
NA_Sales : penjualan game di amerika utara;
EU_Sales : Penjualan game di uni eropa;
JP_Sales : Penjualan game di jepang;
Other_Slaes : penjualan game di negara lain;
Global_Sales : Total Penjualan di seluruh dunia;

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16324 entries, 0 to 16323
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16324 non-null  int64
 1   Name          16324 non-null  object
 2   Platform      16324 non-null  object
 3   Year          16324 non-null  int64
 4   Genre         16324 non-null  object
 5   Publisher     16288 non-null  object
 6   NA_Sales      16324 non-null  float64
 7   EU_Sales      16324 non-null  float64
 8   JP_Sales      16324 non-null  float64
 9   Other_Sales   16324 non-null  float64
 10  Global_Sales  16324 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 1.4+ MB